{% set pageType = "home" %}
{% set title = "ЖК солнечная система" %}
{% extends "layout.html" %}
{% block content %}


<div class="b-promo">
	<div class="b-promo__pic b-promo__pic--n_1"></div>
	<div class="b-promo__pic b-promo__pic--n_3"></div>
	<div class="b-promo__pic b-promo__pic--n_2"></div>
	
	<div class="b-promo__content">
		<div class="b-promo__head">ВАУ-цены сентября!</div>
		<div class="b-promo__text b-promo__text--n_1">В лучшем жилом комплексе Европы*</div>
		<div class="b-promo__text b-promo__text--n_2">Квартиры от 2,3 млн руб. <br> в 15 мин. от метро</div>
		<a href="#" class="b-promo__btn">Невероятные подробности</a>
	</div>


<a href="#" class="b-round-sticker b-round-sticker--n_2">
    <div class="b-round-sticker__field b-round-sticker__field--type_border"></div>
    <div class="b-round-sticker__inner">
        <div>
            <div style="padding-bottom: 5px;padding-top: 14px;">ИПОТЕКА</div>
            <div>
                <span class="b-round-sticker__small-text" style="vertical-align: top;position: relative;top: 3px;">ОТ</span> <span class="b-round-sticker__big-text">7,4</span>
            </div>
            <div>
                <span class="b-round-sticker__small-text">НА ВЕСЬ<br> СРОК</span>
            </div>
        </div>
    </div>
</a>

	<a href="#" class="b-round-sticker b-round-sticker--n_1">
		<div class="b-round-sticker__field b-round-sticker__field--type_bg"></div>
		<div class="b-round-sticker__inner"><img class="b-round-sticker__ico" src="img/360.svg" alt=""></div>
	</a>

</div>


{% endblock %}