<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/target-website-styles.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>