.b-promo {
    font-family: "GothamPro", Arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    background: #f15b55 url(../img/b-promo-bg.png);
    color: #fff;
    height: calc(100vh - 90px);
    position: relative;
    overflow: hidden;
    width: 100%;
    @media (--xs) {
        padding: 34px 16px 16px 16px;
        text-align: center;
    }
    &__content {
        position: absolute;
        @media (--xs) {
            position: relative;
        }
        @media (--sm) {
            left: 24px;
            top: 49%;
        }

        @media (--md) {
            left: 74px;
            top: 53.9%;
        }

        @media (--lg) {
            left: 110px;
            top: 54.3%;
        }

        @media (--xl) {
            left: 130px;
            top: 51.5%;
        }
    }
    &__head {
        font-weight: 600;
        @media (--xs) {
            font-size: 3.16em;
            padding-bottom: 13px;
        }

        @media (--sm) {

            font-size: 4.4em;
            padding-bottom: 18px;
        }

        @media (--md) {
            letter-spacing: 0.002em;
            font-size: 4.4em;
            padding-bottom: 18px;
        }

        @media (--lg) {
            letter-spacing: 0.002em;
            font-size: 4.8em;
            padding-bottom: 6px;
        }

        @media (--xl) {
            letter-spacing: 0.002em;
            font-size: 6.6em;
            padding-bottom: 20px;
        }
    }

    &__text {
        @media (--xs) {
            font-size: 1.5em;
            padding-bottom: 9px;
        }

        @media (--sm) {
            font-size: 1.8em;
            padding-bottom: 8px;
            line-height: 1.36;
        }

        @media (--md) {
            font-size: 1.8em;
            padding-bottom: 8px;
            line-height: 1.36;
        }

        @media (--lg) {
            font-size: 2.2em;
            padding-bottom: 8px;
        }

        @media (--xl) {
            font-size: 2.2em;
            padding-bottom: 15px;
        }

        &--n_2 {
            @media (--xs) {
                padding-bottom: 15px;
            }

            @media (--sm) {
                padding-bottom: 40px;
            }

            @media (--md) {
                padding-bottom: 40px;
            }

            @media (--lg) {
                padding-bottom: 24px;
            }

            @media(--xl) {
                padding-bottom: 46px;
            }
        }
    }

    &__btn {
        display: inline-block;
        padding: 16px 26px;
        background: #fae004;
        color: #303434;
        font-weight: 600;
        font-size: 1.4em;
        transition: all 0.2s;
        &:hover {
            @media(--mdPlus) {
                box-shadow: 0 0 10px rgba(0, 0, 0, .5);
            }
        }
    }
    &__pic {
        position: absolute;
        background-size: contain;
        background-position: center;
        pointer-events: none;
        user-select: none;
        background-repeat: no-repeat;
        &--n_1 {
            display: none;
            background-image: url(../img/b-promo-pic-xs.png);
            @media (--xs) {
                display: block;
                top: 211px;
                bottom: -11%;
                right: -9%;
                left: 2%;
                background-position: center bottom;
            }
        }

        &--n_2 {
            background-image: url(../img/b-promo-pic-bubble.png);
            @media (--xs) {
                display: none;
            }
            @media (--sm) {
                top: 3.5%;
                right: 45.5%;
                left: 3%;
                background-position: center bottom;
                height: 36%;
            }

            @media (--md) {
                top: 10%;
                right: 49.2%;
                left: 1.8%;
                background-position: center bottom;
                height: 37%;
            }

            @media (--lg) {
                top: 9%;
                right: 47.5%;
                left: 6.8%;
                background-position: right bottom;
                height: 40%;
            }

            @media (--xl) {
                top: 6.7%;
                right: 48%;
                left: 6.8%;
                background-position: right bottom;
                height: 38%;
            }
        }

        &--n_3 {
            background-image: url(../img/b-promo-pic-woman.png);
            @media (--xs) {
                display: none;
            }
            @media (--sm) {
                top: 12%;
                bottom: 0%;
                right: -4%;
                left: 46%;
                background-position: right bottom;
            }

            @media (--md) {
                top: 12%;
                bottom: 0%;
                right: 0;
                left: 45.6%;
                background-position: left bottom;
            }

            @media (--lg) {
                top: 11%;
                bottom: -7%;
                right: 8.5%;
                left: 48%;
                background-position: left bottom;
            }

            @media (--xl) {
                top: 8.8%;
                bottom: 0%;
                right: 10.3%;
                left: 48%;
                background-position: left bottom;
            }
        }
    }
}