.b-round-sticker {
    position: absolute;
    display: block;
    width: 114px;
    right: 0;
    border-radius: 50%;
    text-align: center;
    user-select:none;

    &,
    &:hover,
    &:active,
    &:focus {
        color: inherit;
        outline: none;
    }
    &:after {
        content: "";
        display: block;
        padding-top: 100%;
    }

    &__field {
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        content: "";
        transition: all 0.2s;
        &--type_bg {
            background: rgba(255, 255, 255, 0.4);
        }

        &--type_border {
            border: 1px solid #fff;
        }
    }

    &:hover>&__field {
        transform: scale(1.1);
        /*top: -5%;
        left: -5%;
        bottom: -5%;
        right: -5%;*/
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        letter-spacing: 0.015em;
        line-height: 1;
    }

    &__big-text {
        font-size: 25px;
    }

    &__small-text {
        font-size: 10px;
    }

    &__ico {
        max-width: 90%;
        max-height: 90%;
    }

    &--n_1,
    &--n_2 {
        @media (--xs) {
            display: none;
        }

        @media (--sm) {
            display: none;
        }
    }

    &--n_1 {
        width: 86px;
        right: 57px;
        top: 214px;
        @media (--xl) {
            right: 138px;
        }
    }

    &--n_1>&__inner>&__ico {
        position: relative;
        top: 4px;
    }

    &--n_2 {
        right: 43px;
        top: 74px;
        @media (--xl) {
            right: 124px;
        }
    }
}